
.titleContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.spotPageContainer {
    display: grid;
    padding: 25px;
}

.carouselContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.bookingPageContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 2px solid purple;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
