
.loginTitleContainer {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
    color: white;
}


.test {
    background: url("./pic3.jpg") no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    position: fixed;
    padding-top: 50px;
}
